# Frontend
frontend/node_modules
frontend/dist
frontend/.env

# Backend
backend/bin
backend/public
backend/main
backend/main.exe

# IDE
.DS_Store
.idea
.vscode

# Environment
.env

# Logs
*.log

# Root node_modules (for monorepo scripts)
node_modules
